<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Skopsko Kafe</title>
        <link href="{{ url_for('static',filename='styles/main.css') }}?q={{rq}}"
        rel="stylesheet" type="text/css"/>
        <script src="{{ url_for('static',filename='main.js') }}?q={{rq}}"/></script>
    </head>
    <body>
        <p>Home</p>
        <h1> DOBREDOJDOVTE NA STRANICATA ZA KAFEMATI VO REPUBLIKA MAKEDONIJA </h1>
        <br>
        <h2> Sega za sega e samo za Skopje, no so tek na vreme kj gi prikacime za cela Makedonija </h2>
        <br>
        <h3> Dokolku sakate da stavite negde kafemat ili znaete deka negde e staven, a go nema na stranicava, togash zaclenete se i postirajte slika so kafematot i adresa kade se naogja!!! </h3>
    </body>
</html>
