<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Skopsko Kafe</title>
        <link href="{{ url_for('static',filename='styles/main.css') }}?q={{rq}}"
        rel="stylesheet" type="text/css"/>
        <script src="{{ url_for('static',filename='main.js') }}?q={{rq}}"/></script>
    </head>
    <body>
        <div class="our_story_div">
            <h1> This is our(Elena and Vladimir) story: </h1>
            <h1>  Why map coffee machines in Skopje? </h1>
            <p>
                We like to go for walks a lot. Breathe in the fresh Skopje air and all :) Because in spite of everything, Skopje is
                a beautiful city. But the thing is, when you're walking around, things are better when you have coffee with you. 
            </p>
        </div>
    </body>
</html>
